{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Z37</title>

  <link href="{% static 'styles/styles.css' %}" rel="stylesheet"/>

  <link href="{% static 'images/cosmo.jpg' %}" rel="shortcut icon" type="img/jpg"/>
  </head>

  <body>
  <main>


              <div class="container">
              <div class="row justify-content-md-center">
                <div class="col col-md-auto">
                  <a href="/">Стартовая страница</a>
                </div>
                <div class="col-md-auto">
                  <a href="/h">Привет</a>
                </div>
                <div class="col col-md-auto">
                  <a href="/b">Блог</a>
                </div>

              {% if user.is_anonymous %}
              <div class="container">
              <div class="row justify-content-md-center">
              <div class="col col-md-auto">
              <a href="/o/sign-in">Войти</a>
              </div>
              <div class="col-md-auto">
              <a href="/o/sign-up">Регистрация</a></h2>
              </div>
              </div>
              </div>
              {% endif %}

               {% if not user.is_anonymous %}
               <div class="col-md-auto">
               <a href="/o/sign-out">Выйти</a>
               </div>
               {% endif %}

             </div>
            </div>


    {% if not user.is_anonymous %}
    <div class="container">
    <div class="row justify-content-md-center">
    <div class="col-md-auto">
    <p>Привет, {{user.username}}!</p>
    </div>
    </div>
    </div>
    {% endif %}
  <hr>


  {% block main %}
  {% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </main>
    <header>
    </header>
    </body>
    </html>