{% extends "_base.html" %}
{% load static %}

{% block main %}

<img alt="logo" src="{% static 'images/cosmo.jpg' %}" width="25%" align="left" border="3" hspace="1%" vspace="0%"
     xmlns="http://www.w3.org/1999/html">

    <nav>
    <p align="left"><font size="3"><a href="/" >Обновить эту страницу</a></font></p>
    <p align="left"><font size="3"><a href="/e/">404 (не трогай)</a></font></p>
    <p align="left"><font size="3"><a href="/h">Привет</a></font></p>
        <p align="left"><font size="3"><a href="/b">Блог</a></font></p>
    </nav>
	{% endblock %}