body{
    background: linear-gradient(to right, #77A1D3, #79CBCA, #E684AE);
}
#header{
    background-color: #fff;
}
.h1{
    font-size: 30px;
    color: #000;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.likes {
  grid-column: 9/11;
  grid-row: 10/11;
  user-select: none;
}
.not-liked::before {
  content: "💛\00a0";
}

.liked::before {
  content: "❤️\00a0";
}