
{% extends "_base.html" %}

{% block main %}

 <h1>All posts</h1>

<form method="post" action="/b/new/">
   <p>
    <label for="id_title">Title</label>
    <input id="id_title" type="text" name="title">
   </p>
       <p>
    <label for="id_content">Content</label>
    <input id="id_content" type="text" name="content">
   </p>
<button>Send</button>
   <p>{% csrf_token %}</p>
</form>

<form method="post" action="/b/reset/">
  <p>
  <button type="submit">Reset</button>
  </p>
  <p>{% csrf_token %}</p>
    </form>
<p><a href="/">Top</a></p>

{% for post in object_list %}

    <article class="post">

     <h3><span class="content">{{post.title}}</span></h3>
     <p><span class="content">{{ post.content }}</span></p>
        <p>
              <span class="date">{{ post.created_at }}</span></p>
      <span class="views">{% if post.edited %}✏&nbsp;{% endif %}&#128064&nbsp;{{ post.nr_views }}</span>

      <span class="likes">💙&nbsp;{{ post.nr_likes }}</span>
    </article>
  {% endfor %}


{% endblock %}

