{% extends "_base.html" %}
{% load static %}
{% block main %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="{% static 'blog/scripts/blog.js' %}"></script>

              <div class="container">
              <div class="row justify-content-md-center">
              <div class="col col-md-auto">
              <h1>Что там у тебя?</h1>

              {% if not user.is_anonymous %}

              <form method="post" action="{% url 'blog:new_post' %}">
              <label for="id_title">Тема:</label>
              <input id="id_title" type="text" name="title">
              <label for="id_content">Суть:</label>
              <input id="id_content" type="text" name="content">


               <button>Рассказать!</button>
               {% csrf_token %}
               </form>
               {% endif %}

               {% if user.is_superuser %}
               <form method="post" action="{% url 'blog:reset_all' %}">
               <button type="submit">Удалить всё к чертям!</button>
               {% csrf_token %}
               </form>
               {% endif %}
               </div>
               </div>

<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Найти пост</h3>
    <form action="{% url 'blog:search' %}" method="get" class="d-flex editContent">
        <input type="search"
               placeholder="{{ search_field }}"
                name="q" class="form-control" required="">
        <button type="submit" class="btn1 btn">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </form>
</div>

    {% for object in object_list %}
    <hr>
    <article class="post">
     <a href="{{ object.get_absolute_url }}">
     <h3><span class="content">{{object.title}}</span></h3></a>
     <p><span class="content">{{ object.content }}</span></p>
     <p><span class="date">{{ object.created_at }}</span></p>
     <p>Post_id:{{ object.id }}</p>
     <p style='font-size:18px'>Author: {{object.author.username}}</p>

     <span class="views">&#128064&nbsp;{{ object.nr_views }}</span>
     <span class="likes liked" onclick="like(this, '{{ object.get_absolute_url }}');">{{ object.nr_likes }}</span>



      {% if user.is_superuser or object.author == user %}
     <form method="post" action="{% url 'blog:post_delete' pk=object.pk %}">
     <button type="submit">❌</button>
     {% csrf_token %}
     </form>

     <form action="{% url 'blog:post_update' pk=object.pk %}">
     <button type="submit">✏</button>
     {% csrf_token %}
     </form>
     </article>


{% endif %}
{% endfor %}
{% endblock %}