{% extends "_base.html" %}

{% block main %}

<h2>Hey, {{name_header}}!</h2>
<p>You live in {{address_header}}. Wow!</p>

<form method="post" action="/h/save/">
  <p>
  <label for="name_id">Name:</label>
  <input id="name_id" name="name" placeholder="What is your name?" type="text" value="{{name_value}}">
  <label for="name_id">Address:</label>
  <input id="address_id" name="address" placeholder="What is your city?" type="text" value="{{address_value}}">
  <button>Send</button>
  </p>
  {% csrf_token %}

</form>

<form method="post" action="/h/reset/">
  <p>
  <button type="submit">Reset</button>
  </p>
  {% csrf_token %}
  <p><a href="/">Top</a></p>
</form>

	{% endblock %}